body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: white;;
    background-color: #000000;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }

  #device{
    background-color: #7d2736;
    height:25px;
    color:white;
  }

  .logo{
    height: 100px;
    width: 120px; 
    margin-right: 10px;
    margin-left: 100px;
  }

  .header {
    background: #0b0b0b;
    color: white;
    padding: 2rem 0;
    text-align: center;
    background-image: url("https://t3.ftcdn.net/jpg/04/15/87/76/360_F_415877698_c1VY6BMnUbNxh7Or80VDZAWng4UoGfWi.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .navbar {
    background: #000000;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    margin: 0px 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .section {
    padding: 2rem 0;
    text-align: center;
  }
  
  .about {
    background: #000000;
  }
  .image{
    
    display:inline-block;
    float: right;
    position: absolute;
  
  }

  .gad{
    width: 40%;
    height: auto;
    border-radius: 8px;

  }

  .services {
    background: #0b0b0b;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .card {
    background: #7d2736;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateX(3px) translateY(-5px) scale(1.0); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.164) 0 0 15px rgba(150, 20, 85, 0.515); 
  }

  #contact{
    background: #000000;
  }

  .contact{
    text-align: left;
    background: #000000;
    color: white;
  }

  .footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
  }
  