
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #D4AF37;
    color: #333;
    margin: 20px;
    border: 4px solid black;
  }
  

  header {
    background-color: #0e3215;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  

  .tata {
    text-align: center;
    margin: 20px 0;
  }
  
  .tata h2{
    text-align: center;
  }

  .tata img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin-right: 20px;
  }
  
  .tata p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 33px;
    margin-top: 10px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
 
  main {
    background: #CFB53B;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
  }
  
  main h2 {
    margin-bottom: 10px;
    color: #0e3215;
  }
  
  main ul li {
    list-style: disc;
    margin-left: 20px;
    font-size: 1.1rem;
    line-height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  main p {
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
  }
  